{% extends 'base.html.twig' %}

{% block body %}
<div class="tittle title-about">О нашей компании</div>
<div class="container width">
    <div class="row">
        <div class="about-container">
            <div class="about-company fix-margin">
                <div class="col-sm-3 col-lg-3 fluid">
                    <div class="about-company__logo">
                        <img class="about-company__logo-svg" src="/images/SVG/logo_red_black.svg">
                        <div class="about-company__logo-name">
                            Оптовые продажи мелкой бытовой техники и посуды
                            С нами профессионально!
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <div class="about-flex">
                        <div class="text-block">
                            <div class="about-company__info">
                                <div class="about-company__info-text"> Торговая марка
                                    Gelberk известна в России и в странах ближнего
                                    зарубежья.
                                </div>
                                <div class="about-company__info-text"> Основной задачей
                                    Gelberk является обеспечение российского рынка
                                    качественной бытовой техникой по доступным ценам.
                                </div>
                                <div class="about-company__info-text"> Поставщиками
                                    продукции Gelberk являются только
                                    фабрики-производители, поэтому мы можем
                                    гарантировать, что вам, нашим клиентам, товар
                                    достанется по минимальной стоимости.
                                </div>
                                <div class="about-company__info-text"> Наш ассортимент
                                    постоянно расширяется в зависимости от потребностями
                                    клиентов.
                                </div>
                                <div class="about-company__info-text"> Профессиональная
                                    команда компании обеспечит максимально
                                    взаимовыгодное и надежное сотрудничество.
                                </div>
                            </div>
                        </div>
                        <div class="catalog-download">
                            <img class="catalog-download__img" src="/images/catalog.png">
                            <a class="catalog-download__link" href="#">
                                Скачать КАТАЛОГ GELBERK™ ОСЕНЬ 2107 — ЗИМА 2018
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-block  col-xs-12 col-sm-push-3 col-sm-9 col-lg-9 col-lg-push-3 ">
                <div class="offer-block__title">
                    Мы предлагаем :
                </div>
                <div class="offer-block__text">
                    <span class="offer-block__number about"><img src="/images/1-number.png"></span>
                    выгодные цены, систему дополнительных скидок
                </div>
                <div class="offer-block__text">
                    <span class="offer-block__number about"><img src="/images/2-number.png"></span>
                    техническую, информационную и сервисную поддержку
                </div>
                <div class="offer-block__text">
                    <span class="offer-block__number about"><img src="/images/3-number.png"></span>
                    наличие товара, минимальные сроки поставок
                </div>
                <div class="offer-block__text">
                    <span class="offer-block__number about"><img src="/images/4-number.png"></span>
                    отработанную доставку в любую точку России любых объемов
                </div>
            </div>
        </div>

        <div class="price-policy  col-xs-12">
            <div class="tittle">Ценовая политика компании</div>
            <div class="price-policy__text">
                Цены активно используются в конкурентной борьбе для обеспечения
                достаточного уровня прибыли. Определение цен товаров и услуг является
                одной из важнейших проблем любого предприятия, так как оптимальная цена
                может обеспечить его финансовое благополучие.
            </div>
            <div class="price-policy__text">
                Проводимая политика цен во многом зависит от вида предлагаемых
                предприятием товаров или услуг. Она формируется в тесной связи с
                планированием производства товаров или услуг, выявлением запросов
                потребителей, стимулированием продаж. Цена должна устанавливаться таким
                образом, чтобы, с одной стороны, удовлетворять нужды и потребности
                покупателей, а с другой - способствовать достижению поставленных
                предприятием целей, заключающихся в обеспечении поступления достаточных
                финансовых ресурсов.
            </div>
        </div>
    </div>
</div>

<div class="background-communications hidden-sm">
    <div class="communications">
        <div class="communications__block">
            <div class="communications__title">Отдел кадров:</div>
            <div class="communications__text">
                Марина Николаевна
            </div>
            <div class="communications__text">
                Телефон: +7 (920) 5565770
            </div>
            <div class="communications__text">
                Почта: Shutskaya@gelberk.ru
            </div>
        </div>
        <div class="communications__block">
            <div class="communications__title">&nbsp;</div>
            <div class="communications__text">
                Лидия Семеновна
            </div>
            <div class="communications__text">
                Телефон: +7 (920) 5565770
            </div>
            <div class="communications__text">
                Почта: Shutskaya@gelberk.ru
            </div>
        </div>
        <div class="communications__block">
            <div class="communications__text">&nbsp;</div>
            <div class="communications__text">&nbsp;</div>
            <div class="flex">
                <img class="communications__img" src="/images/hh.png">
                <a href="#" class="communications__text hh">Перейти на страницу
                    компании в hh.ru
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
