{% extends 'base.html.twig' %}

{% block body %}

    <div class="gallery-title">
        Галерея
    </div>
    <div class="gallery-background">
        <div class="gallery">
            <div class="gallery__name">
                Чайник GL-406
            </div>
            <div class="gallery__big-photo">
                <img class="big-photo blue-box-shadow" src="/images/big-gallery.png">
            </div>
            <div class="gallery__flex">
                <img class="small-photo blue-box-shadow" src="/images/xs-gallery-1.png">
                <img class="small-photo blue-box-shadow" src="/images/xs-gallery-2.png">
                <img class="small-photo blue-box-shadow" src="/images/xs-gallery-3.png">
                <img class="small-photo blue-box-shadow" src="/images/xs-gallery-4.png">
            </div>
        </div>
    </div>
    <div class="gallery-background  red">
        <div class="gallery">
            <div class="gallery__name">
                Чайник GL-406
            </div>
            <div class="gallery__big-photo">
                <img class="big-photo red-box-shadow" src="/images/big-gallery.png">
            </div>
            <div class="gallery__flex">
                <img class="small-photo red-box-shadow" src="/images/xs-gallery-1.png">
                <img class="small-photo red-box-shadow" src="/images/xs-gallery-2.png">
                <img class="small-photo red-box-shadow" src="/images/xs-gallery-3.png">
                <img class="small-photo red-box-shadow" src="/images/xs-gallery-4.png">
            </div>
        </div>
    </div>
    <div class="fix-bot"></div>
    
{% endblock %}
